<html>
	<head>
		<title>RUTPass</title>
		<link rel="shortcut icon" href="../static/LogoRUT.ico" type="image/x-icon">
	</head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/styles/Style_index.css">
	
	<body>
		<div class=mainBlock>
			<div class=leftBlock>
				<div class=logoPict>
					<img src="../static/LogoRUT.png" width="150vw" height=auto>
				</div>
				<div>
					<p class=txtLB> Выберите форму для оформления заявления на пропуск</p>
				</div>
			</div>
			<div class=rightBlock>
				<a href="peoplepass">
					<button class=button_styl type="button">&nbsp;Пропуск для человека&emsp;</button>
				</a>
				<a href="autopass">
					<button class=button_styl type="button">Пропуск для автомобиля</button>
				</a>
			</div>
		</div>
			
				
	</body>
	</html>