@media screen and (max-width: 7000px){
body {
	background-color: #D9D9D9;
	font-family: Calibri,sans-serif;
	font-size: auto;
	font-style: normal;
	font-weight: normal;
	margin: 0% 0% 0% 0%;
}
a{
	margin: 0%;
	padding: 0%;
}
.mainBlock{
	width: 100vw;
	height:100vh;
	
}
.leftBlock{
    overflow: hidden;
    background-color: #1B365D;
    color: #FFFFFF;
	border-radius: 5vw;
	width:50vw;
	height:100vh;
	margin-left: -6vw;
	padding-left: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	flex-direction: column;
}
.txtLB{
	margin-left: 7vw;
	margin-right: 7vw;
	font-size: 6vh;
	text-shadow: 2px 2px 2px #000;
}
.rightBlock{
	justify-content: center;
	align-items: center;
	float: right;
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	float: right;
}
.logoPict {
	position: absolute;
    top: 2vh;
    left: 1vw;
    z-index: 1;
}
.button_styl {
	border: 0;
	margin: 2vh;
	padding: 4vh 3vw;
	font-size: 3vh;
	text-align: center;
	color: #000;
	text-shadow: 0.5px 0.5px 0.5px #000;
	border-radius: 50px;
	background-color: #E6AF00;
	white-space: normal;

}
.button_styl:hover {
	background-color: #0072CE;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.button_styl:active {
	box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

}


@media screen and (max-width: 1000px) and (orientation: portrait){
body {
	background-color: #D9D9D9;
	font-family: Calibri,sans-serif;
	font-size: auto;
	font-style: normal;
	font-weight: normal;
	margin: 0% 0% 0% 0%;
}
a{
	margin: 0%;
	padding: 0%;
}
.mainBlock{
	width: 100vw;
	height: 100vh;
	
}
.leftBlock{
    overflow: hidden;
    background-color: #1B365D;
    color: #FFFFFF;
	border-radius: 5vw;
	width:50vw;
	height:100vh;
	margin-left: -6vw;
	padding-left: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	flex-direction: column;
}
.txtLB{
	margin-left: 7vw;
	margin-right: 7vw;
	font-size: 3vh;
	text-shadow: 2px 2px 2px #000;
}
.rightBlock{
	justify-content: center;
	align-items: center;
	float: right;
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	float: right;
}
.logoPict {
	position: absolute;
    top: 2vh;
    left: 1vw;
    z-index: 1;
}
.button_styl {
	border: 0;
	margin: 2vh;
	padding: 3vh 4vw;
	font-size: 2vh;
	text-align: center;
	color: #000;
	text-shadow: 0.5px 0.5px 0.5px #000;
	border-radius: 100px;
	background-color: #E6AF00;
	white-space: normal;
	/* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */
	/* box-shadow: */
		/* inset 2px 2px 3px rgba(255, 255, 255, 0.6), */
		/* inset -2px -2px 3px rgba(0, 0, 0, 0.6); */
}
.button_styl:hover {
	background-color: #0072CE;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.button_styl:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

}


@media screen and (max-width: 1000px) and (orientation: landscape){
body {
	background-color: #D9D9D9;
	font-family: Calibri,sans-serif;
	font-size: auto;
	font-style: normal;
	font-weight: normal;
	margin: 0% 0% 0% 0%;
}
a{
	margin: 0%;
	padding: 0%;
}
.mainBlock{
	width: 100vw;
	height:100vh;
	
}
.leftBlock{
    overflow: hidden;
    background-color: #1b365d;
    color: #FFFFFF;
	border-radius: 5vw;
	width:50vw;
	height:100vh;
	margin-left: -6vw;
	padding-left: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	flex-direction: column;
}
.txtLB{
	margin-left: 7vw;
	margin-right: 7vw;
	font-size: 6vh;
	text-shadow: 2px 2px 2px #000;
}
.rightBlock{
	justify-content: center;
	align-items: center;
	float: right;
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	float: right;
}
.logoPict {
	position: absolute;
    top: 2vh;
    left: 1vw;
    z-index: 1;
}
.button_styl {
	border: 0;
	margin: 2vh;
	padding: 3vh 4vw;
	font-size: 4vh;
	text-align: center;
	color: #000;
	text-shadow: 0.5px 0.5px 0.5px #000;
	border-radius: 50px;
	background-color: #BF9000;
	white-space: normal;
	/* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */
	/* box-shadow: */
		/* inset 2px 2px 3px rgba(255, 255, 255, 0.6), */
		/* inset -2px -2px 3px rgba(0, 0, 0, 0.6); */
}
.button_styl:hover {
	background-color: #0072CE;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.button_styl:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

}