/* @media screen and (max-width: 7000px){ */
body {
	background-color: #D9D9D9;
	font-family: Calibri,sans-serif;
	font-size: auto;
	font-style: normal;
	font-weight: normal;
	margin: 0% 0% 0% 0%;
}
a{
	margin: 0%;
	padding: 0%;
}
.mainBlock{
	width: 100vw;
	height:100vh;
	
}
.leftBlock{
    overflow: hidden;
    background-color: #1b365d;
    color: #FFFFFF;
	border-radius: 5vw;
	width:50vw;
	height:100vh;
	margin-left: -6vw;
	padding-left: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	flex-direction: column;
}
.txtLB{
	margin-left: 7vw;
	margin-right: 7vw;
	font-size: 6vh;
	text-shadow: 2px 2px 2px #000;
}
.rightBlock{
	justify-content: center;
	align-items: center;
	float: right;
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	float: right;
}
.logoPict {
	position: absolute;
    top: 2vh;
    left: 1vw;
    z-index: 1;
}
.button_styl {
	border: 0;
	margin: 2vh;
	padding: 3vh 4vw;
	font-size: 4vh;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 1vw;
	background-color: #BF9000;
	white-space: normal;
	/* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */
	/* box-shadow: */
		/* inset 2px 2px 3px rgba(255, 255, 255, 0.6), */
		/* inset -2px -2px 3px rgba(0, 0, 0, 0.6); */
}
.button_styl:hover {
  background-color: #E6AF00;
}
.button_styl:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* } */


/* @media screen and (max-width: 1000px) and (orientation: portrait){ */
/* body { */
	
	/* background-color: #D9D9D9; */
	/* font-family: Calibri,sans-serif; */
	/* font-size: auto; */
	/* font-style: normal; */
	/* font-weight: normal; */
	/* margin: 0% 0% 0%; */
/* } */
/* .mainBlock{ */
	/* width: 100%; */

/* } */
/* .leftBlock{ */
    /* overflow: hidden; */
    /* background-color: #1b365d; */
    /* color: #FFFFFF; */
	/* border-radius: 50px 50px; */
	/* width:50%; */
	/* height:100%; */
	/* margin-left: -6%; */
	/* padding-left: 6%; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* font-size: 300%; */
	/* text-shadow: 2px 2px 2px #000; */
	/* float: left; */
/* } */

/* .txtLB{ */
	/* margin-left: 10%; */
	/* margin-right: 10%; */
	/* margin-top: 15%; */
	/* margin-bottom: 15%; */
	/* font-size: auto; */

/* } */
/* .rightBlock{ */
	/* padding-right: 8%; */
	/* justify-content: center; */
	/* align-items: center; */
	/* width: 42%; */
	/* height: 100%; */
	/* display: flex; */
	/* float: right; */
	/* flex-direction: column; */
/* } */
/* .logoPict { */
	/* margin: 0px 0px -2.5% 0px; */
/* } */
/* .styled { */
	/* margin: 1%; */
	/* border: 0; */
	/* margin: 2%; */
	/* padding: 8% 12%; */
	/* font-size: 180%; */
	/* text-align: center; */
	/* color: #fff; */
	/* text-shadow: 1px 1px 1px #000; */
	/* border-radius: 10px; */
	/* background-color: #BF9000; */
	/* white-space: nowrap; */
	/* /* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */ */
	/* /* box-shadow: */ */
		/* /* inset 2px 2px 3px rgba(255, 255, 255, 0.6), */ */
		/* /* inset -2px -2px 3px rgba(0, 0, 0, 0.6); */ */
/* } */
/* .styled:hover { */
  /* background-color: #E6AF00; */
/* } */
/* .styled:active { */
  /* box-shadow: */
    /* inset -2px -2px 3px rgba(255, 255, 255, 0.6), */
    /* inset 2px 2px 3px rgba(0, 0, 0, 0.6); */
/* } */
/* } */


/* @media screen and (max-width: 1000px) and (orientation: landscape){ */
/* body { */
	
	/* background-color: #D9D9D9; */
	/* font-family: Calibri,sans-serif; */
	/* font-size: auto; */
	/* font-style: normal; */
	/* font-weight: normal; */
	/* margin: 0% 0% 0%; */
/* } */

/* .leftBlock{ */
	/* /* настройка цветов блока */ */
    /* overflow: hidden; */
    /* background-color: #1b365d; */
    /* color: #FFFFFF; */
	/* /* настройка размеров блока */ */
	/* border-radius: 50px 50px; */
	/* width:50%; */
	/* height:100%; */
	/* margin-left: -6%; */
	/* padding-left: 6%; */
	/* /* настройка текста блока */ */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */

/* } */

/* .txtLB{ */
	/* margin-left: 10%; */
	/* margin-right: 10%; */
	/* margin-top: 15%; */
	/* margin-bottom: 15%; */
	/* font-size: 70%; */

/* } */
/* .rightBlock{ */
	/* padding-right: 8%; */
	/* justify-content: center; */
	/* align-items: center; */
	/* width: 42%; */
	/* height: 100%; */
	/* display: flex; */
	/* float: right; */
	/* flex-direction: column; */
/* } */
/* .logoPict { */
	/* margin: 0px 0px -2.5% 0px; */
/* } */
/* .styled { */
	/* margin: 1%; */
	/* border: 0; */
	/* margin: 2%; */
	/* padding: 8% 12%; */
	/* font-size: 180%; */
	/* text-align: center; */
	/* color: #fff; */
	/* text-shadow: 1px 1px 1px #000; */
	/* border-radius: 10px; */
	/* background-color: #BF9000; */
	/* white-space: nowrap; */
	/* /* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */ */
	/* /* box-shadow: */ */
		/* /* inset 2px 2px 3px rgba(255, 255, 255, 0.6), */ */
		/* /* inset -2px -2px 3px rgba(0, 0, 0, 0.6); */ */
/* } */
/* .styled:hover { */
  /* background-color: #E6AF00; */
/* } */
/* .styled:active { */
  /* box-shadow: */
    /* inset -2px -2px 3px rgba(255, 255, 255, 0.6), */
    /* inset 2px 2px 3px rgba(0, 0, 0, 0.6); */
/* } */
/* } */